
// TypoGraphica font face
@font-face {
  font-family: TypoGraphica;
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/TypoGraphica.otf') format('opentype');
}

/* Icons (made with Icomoon.io) */
/* Feather Icons by Cole Bemis */
@font-face {
	font-family: 'feather';
	font-weight: normal;
	font-style: normal;
	src: url('../assets/fonts/feather/feather.eot?1gafuo');
	src: url('../assets/fonts/feather/feather.eot?1gafuo#iefix') format('embedded-opentype'), url('../assets/fonts/feather/feather.woff2?1gafuo') format('woff2'), url('../assets/fonts/feather/feather.ttf?1gafuo') format('truetype'), url('../assets/fonts/feather/feather.woff?1gafuo') format('woff'), url('../assets/fonts/feather/feather.svg?1gafuo#feather') format('svg');
}
