// Forms
%input {
  width: 100%;
  margin: 0.425em 0;
  padding: 1em 2.5em;
  display: block;
  color: $medium-gray;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid $stroke-gray;
  font-family: $font-family;
  font-size: 0.7875em;
  font-style: normal;
  letter-spacing: 0.10em;
  font-weight: $font-weight-regular;
  // box-shadow: $form-box-shadow;
  // border-radius: $round-edges;
  outline: none;
  transition: border-color 400ms;

  @include placeholder {
    color: scale-color($medium-gray, $lightness: 75%);
    text-transform: uppercase;
  }

  &:hover,
  &:focus {
    // box-shadow: $form-box-shadow;
    border-color: $dark-salmon;
  }

  &.bottom-border {
    height: 3rem;
    border: none;
    border-bottom: 1.5px solid $stroke-gray;

    &:hover,
    &:focus {
      border-color: $maroon;
    }
  }
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
select,
textarea {
  @extend %input;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 1em;
}

label {
  display: block;
  font-weight: $label-weight;
  font-size: rem-calc(15);
  color: $label-color;

  abbr {
    display: none;
  }
}

.ui-select,
.spree-select {
  label {
    position: relative;

    &:after {
      content: '';
      width: 10px;
      height: 7px;
      position: absolute;
      top: 50%;
      right: 0.75rem;
      background: url("images/icons/dropdown-arrow.svg") no-repeat center center;
      transform: translateY(-50%);
      pointer-events: none;
      z-index: 1;
    }
  }

  select {
    width: 100%;
    height: 3rem;
    padding: 0.525em 1rem;
    padding-right: 1.75rem;
    margin: 0;
    position: relative;
    border-radius: 0;
    background: none;
    -webkit-appearance: none;
    appearance: none;

    // &:hover {
    //   border-color: $dark-salmon;
    // }
  }
}

.error {
  color: $dark-pink;
}



fieldset {
  @include span(12);

  border: none;

  .icon-input {
    margin: 1rem 0;
    position: relative;

    input {
      padding-left: 3em;

      &:focus + i, &:valid + i {
        color: $medium-gray;
      }
    }

    i {
      top: 50%;
      left: 1em;
      position: absolute;
      transform: translateY(-50%);

      transition: color 0.3s linear;
    }
  }


  .actions {
    @include span(12);

    .action {
      &.right {
        float: right;
      }
    }
  }
}
