// Establish Baseline
html {
  font-size: ($base-font-size / 16px) * 100%;
}

body {
  line-height: line-height();
}

// Links
a {
  font-family: $font-family;
  font-weight: $font-weight-bold;
  font-style: italic;
  letter-spacing: 0.15em;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-color-hover;
  }

  &.active {
    color: $link-color-active;
  }
}

// Typographic Tags
body {
  font-family: $font-family;
  font-weight: $font-weight;
  color: $font-color;
  background-color: $body-background-color;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $header-font-family;
  // font-weight: $header-font-weight;
  // color: $header-font-color;
}

h4, h5, h6 {
  font-family: $font-family;
  font-weight: $font-weight-regular;
}

h2 {
  font-weight: $font-weight-roman;
}

h4 {
  letter-spacing: 0.10em;
}

h1, h3, h5 {
  font-weight: $font-weight-bold;
}

h6 {
  letter-spacing: 0.025em;
}

p {
  margin: 1.5rem 0;
  font-family: $font-family;
  font-weight: $font-weight-regular;
  color: $font-color;
}

hr {
  width: 4.5em;
  margin: 0.6875rem auto 0.6875rem 0;
  border-bottom: 1px solid $light-pink;
  border-left: none;
  border-right: none;
  border-top: none;

  &.gray {
    border-color: $stroke-gray;
  }
}

blockquote {
  margin: 1em 0;
  padding: 0.5em 0 0.5em 1em;
  color: scale_color($font-color, $lightness: 15%);
  border-left: 3px solid $border-color;
}

cite {
  font-style: italic;
  color: scale_color($font-color, $lightness: 30%);

  &:before {
    content: '\2014 \00A0';
  }
}

small,
.fine-print {
  @include adjust-font-size-to(16px);
  display: block;
  font-family: $header-font-family;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0.10em;

  &.error {
    font-size: 0.9em;
  }
}

// Modular Scale
$typographic-element: (
  h1: (
    $ms-up-3,
    $ms-small-up-3
  ),

  h2: (
    $ms-up-2,
    $ms-small-up-2
  ),

  h3: (
    $ms-up-1
    $ms-small-up-1
  ),

  h4: (
    $ms-up,
    $ms-small-up
  ),

  h5: (
    $ms-base,
    $ms-base
  ),

  h6: (
    $ms-down,
    $ms-small-down
  ),

  p: (
    $ms-base,
    $ms-small-base
  ),
  a: (
    $ms-down,
    $ms-small-down
  ),
  small: (
    $ms-base,
    $ms-base
  )
);

@each $element, $size in $typographic-element {
  #{$element} {
    @include adjust-font-size-to( nth($size, 1) );

    @media only screen and (max-width: 1024px) {
      @include adjust-font-size-to( nth($size, 2) );
    }
  }
}

.navigation-anchor {
  @include adjust-font-size-to(16px);
  font-family: $font-family;
  font-weight: $font-weight-regular;
  letter-spacing: 0.1em;
  font-style: normal;
}

.input-text {
  @include adjust-font-size-to(11px);
  font-family: $font-family;
  font-weight: $font-weight-regular;
  font-style: italic;
  letter-spacing: 0.1em;
}
